  <div class = "container">
  <div class = "d-flex justify-content-center align-items-center container">
    <div class="white-card">
    <%= image_tag 'TurboTux.jpg', style: "border-radius: 22px; height: 400px; width: 400px; margin-top: 50px; margin-left: 150px; margin-right: 150px;"%>
      <h1><i>Channel Your Inner Fabio</i></h1>
      <br>
      <div class= "card-clear">
        <p>Berlin's first tux-on-demand service.</p>
      </div>
      <!-- <br> -->
      <%= link_to "View All Tuxes", tuxes_path, class: "btn btn-danger btn-lg", style: "border-radius: 22px;" %>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>






